* {
  box-sizing: border-box;
  overflow-x: hidden;
  outline: none !important;
  outline-offset: none !important;
}
body {
  background-color: #111;
  margin: 0;
  color: #fff;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
}
.listMovie {
  margin-top: -150px;
}
