header {
  position: fixed;
  z-index: 9999;
  display: flex;
  padding: 0px 30px;
  background-color: transparent;
  width: 100vw;
  height: 70px;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
}
.header-bg {
  background: #141414;
  transition: ease all 0.9s;
}
.header--logo {
  height: 25px;
  overflow: hidden;
}
.header--logo img {
  height: 100%;
}
.header--user {
  height: 35px;
}
.header--user img {
  height: 100%;
}

.header--logo img {
  height: 100%;
}
