.movieRow {
  width: 999999px;
  margin: 0 0 30px 30px;
  /* cursor: pointer; */
}

.movieRowItemsEach {
  width: 150px;
  display: inline-block;
}

.movieRowItems {
  overflow: hidden;
  transition: all 0.5s;
}

.movieRowItems img {
  width: 100%;
  transform: scale(0.9);
  transition: all 0.4s;
}

.movieRowItems img:hover {
  transform: scale(1);
  cursor: pointer;
}

.movieRowLeftIcon, .movieRowRightIcon {
  position: absolute;
  height: 225px;
  z-index: 99;
  width: 40px;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s;
  opacity: 0;
  overflow: hidden;
}

.movieRow:hover .movieRowRightIcon, .movieRow:hover .movieRowLeftIcon {
  opacity: 1;
  cursor: pointer;
}

.movieRowLeftIcon {
  left: 0;
}

.movieRowRightIcon {
  right: 0;
}

@media (max-width: 760px) {
  .movieRow:hover .movieRowRightIcon, .movieRow:hover .movieRowLeftIcon {
    cursor: default;
  }
  .movieRowLeftIcon, .movieRowRightIcon {
    opacity: 1;
    cursor: default;
  }
  .movieRowItems img:hover {
    cursor: default;
  }
}

@media (width: 320px) {
  .movieRow:hover .movieRowRightIcon, .movieRow:hover .movieRowLeftIcon {
    cursor: default;
  }
  .movieRowLeftIcon, .movieRowRightIcon {
    opacity: 1;
    cursor: default;
  }
  .movieRowItems img:hover {
    cursor: default;
  }
}

@media (width: 280px) {
  .movieRow:hover .movieRowRightIcon, .movieRow:hover .movieRowLeftIcon {
    cursor: default;
  }
  .movieRow h1 {
    font-size: 16px;
  }
  .movieRowLeftIcon, .movieRowRightIcon {
    opacity: 1;
    cursor: default;
  }
  .movieRowItems img:hover {
    cursor: default;
  }
}